<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Keep Your Friends Close{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'movie/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class = "navbar navbar-inverse">
        <div class="container-fluid">
        
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Keeper</a>
            </div>
            
            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
            
                <ul class="nav navbar-nav">
                
                    <li class="">
                        <a href="{% url 'movie:home' %}">
                            <span class="glyphicon glyphicon-film aria-hidden="true"></span>&nbsp;Movies
                        </a>
                    </li>
                    
                    <li class="">
                        <a href="{% url 'song:home' %}">
                            <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp;Songs
                        </a>
                    </li>
                    
                </ul>
                
                
                <ul class="nav navbar-nav navbar-right">
                     <li class="">
                        <form class="navbar-form navbar-left" role="search" method="get" action="#">
                            <div class="form-group">
                                <input type="text" class="form-control" name="q" value="">
                            </div>
                            <button type="submit" class="btn btn-default">Search</button>
                        </form>
                    </li> 
                
                    <li class="">
                        <a href="{% url 'song:home' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;{{ "Test"|default:"Logout" }}
                        </a>
                    </li>  
                    
                </ul>
                
            </div>
            
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    </body>
</html>