{% extends 'keepyourfriendsclose/base.html' %}

{% block body %}
    <h1>This is what I like:<h1>
    <div class="row">
    
      <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
          <img src="https://image.freepik.com/free-vector/movie-cinema-icons_23-2147495008.jpg" alt="Movies">
          <div class="caption">
            <p><a href="{% url 'movie:home' %}" class="btn btn-primary" role="button">Movies</a>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
          <img src="https://image.freepik.com/free-vector/icons-flat-set-musical-instruments_23-2147492904.jpg" alt="Songs">
          <div class="caption">
            <p><a href="{% url 'song:home' %}" class="btn btn-primary" role="button">Songs</a>
          </div>
        </div>
      </div>
      
    </div>

{% endblock %}