{% extends 'song/base.html' %}
{% block title %}Song Details{% endblock %}
{% block body %}
    <h1>Details</h1>
    <h2>{{ song.title }}</h2>
    <h3>{{ song.genre }}</h3>

    {% for artist in song.artist_set.all %}
        {{ artist.name }}
        {% if artist.is_favorite %}
            <img src="http://findicons.com/files/icons/1620/crystal_project/22/knewstuff.png" />
        {% endif %}
        <br>
    {% endfor %}

    <a href="{% url 'song:home' %}">Back to Home</a>
{% endblock %}