{% extends 'song/base.html' %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- Songs -->
    <div class="row">
        <div class="col-sm-12">
        </div>
        {% if all_songs %}
            {% for song in all_songs %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                    
                <!-- Album logo -->
                <a href="{% url 'song:detail' song.id %}">
                    <img src="{{ song.logo.url }}" class="img-responsive" height="200" width="200">
                </a>
                
                <div class="caption">
                    <h4>{{ song.title }}</h4>
                    <p>{{ song.genre }}</p>

                <!-- View Details -->
                <a href="{% url 'song:detail' song.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                <!-- Delete Album -->
                <form action="{% url 'song:song-delete' song.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="song_id" value="{{ song.id }}" />
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
             </li>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'song:song-add' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a Song
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</div>
    <a href="{% url 'home' %}">Back to the Homepage</a>
{% endblock %}