{% extends 'movie/base.html' %}
{% block title %}Movie Details{% endblock %}
{% block body %}
    <h1>Details</h1>
    <h2>{{ movie.title }}</h2>
    <h3>{{ movie.genre }}</h3>

        <h4>Actors</h4>
        {% for actor in movie.actor_set.all %}
                {{ actor.name }}
                {% if actor.is_favorite %}
                    <img src="http://findicons.com/files/icons/1620/crystal_project/22/knewstuff.png" />
                {% endif %}
                <br>
        {% endfor %}
        
    <a href="{% url 'movie:home' %}">Back to Home</a>
{% endblock %}
