{% extends 'movie/base.html' %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- Movies -->
    <div class="row">
        <div class="col-sm-12">
        </div>
        {% if all_movies %}
            {% for movie in all_movies %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                    
                <!-- Album logo -->
                <a href="{% url 'movie:detail' movie.id %}">
                    <img src="{{ movie.logo.url }}" class="img-responsive">
                </a>
                
                <div class="caption">
                    <h4>{{ movie.title }}</h4>
                    <p>{{ movie.genre }}</p>

                <!-- View Details -->
                <a href="{% url 'movie:detail' movie.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                <!-- Delete Album -->
                <form action="{% url 'movie:movie-delete' movie.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="movie_id" value="{{ movie.id }}" />
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
             </li>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'movie:movie-add' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a Movie
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</div>
    <a href="{% url 'home' %}">Back to the Homepage</a>
{% endblock %}